.btn {
    color: red;
}

h1 {
    font-size: 24px;
}

/*
asdasd

asda
*/
#container {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container .item {
    color: olive;
}

.dynamic {
    color: purple;
}

.unused {
    color: red;
}

.extra {
    background-color: red;
}
